node_modules/
chats/
session.json
mediaSend/
.wwebjs_auth/
.wwebjs_cache/
.env
.idea/BOTSAPP.iml
.idea/copilot.data.migration.agent.xml
.idea/copilot.data.migration.ask.xml
.idea/copilot.data.migration.ask2agent.xml
.idea/copilot.data.migration.edit.xml
.idea/modules.xml
.idea/vcs.xml
